@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-display text-black antialiased;
    background-color: #f9f7f1 !important;
    background-image: radial-gradient(#d1d1d1 0.5px, transparent 0.5px);
    background-size: 20px 20px;
  }
}

@layer utilities {
  .hand-drawn-border {
    border: 2px solid black !important;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
  }
  .marker-btn {
    border: 3px solid black !important;
    border-radius: 4px 67px 5px 18px / 7px 9px 112px 11px !important;
    box-shadow: 2px 3px 0px black;
  }
  .sketch-img {
    filter: grayscale(1) contrast(1.2) brightness(1.1);
    mix-blend-mode: multiply;
  }
  h1, h2, h3, h4 {
    letter-spacing: -1px !important;
  }
  .scribble-underline {
    text-decoration: none !important;
    border-bottom: 2px solid black;
    border-radius: 100% 0% 100% 0% / 0% 100% 0% 100%;
  }
}